<div class="fixed-top bg-white shadow-sm">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{{ '/' | url }}">
        SA Utah Retreat
        {# <img id="header-logo" src="{{ '/assets/uclt-logo.png' | url }}" alt=""> #}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav ml-auto">
          <a class="m-2 p-2 text-dark nav-item nav-link" href="#expect">What to Expect</a>
          <a class="m-2 p-2 text-dark nav-item nav-link" href="#schedule">Schedule</a>
          <a class="m-2 p-2 text-dark nav-item nav-link" href="#location">Location</a>
          <a class="m-2 p-2 text-dark nav-item nav-link" href="#volunteer">Volunteer</a>
          <a class="m-2 p-2 text-dark nav-item nav-link" href="https://www.eventbrite.com/e/sa-s-anon-utah-retreat-2020-tickets-109969684286">Register</a>
          {# <div class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle" href="{{ '/get-involved' | url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Get Involved
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">I am looking for a permanently affordable home</a>
              <a class="dropdown-item" href="#">I am interested in selling or donating property</a>
              <a class="dropdown-item" href="#">I am a developer</a>
              <a class="dropdown-item" href="#">I am a mortgage provider</a>
              <a class="dropdown-item" href="#">I am a civic leader or community group</a>
              <a class="dropdown-item" href="#">I am an investor or philanthropist</a>
            </div>
          </div> #}
          {# <a class="nav-item nav-link" href="{{ '/donate' | url }}">Donate</a> #}
        </div>
      </div>
    </nav>
  </div>
</div>