---
layout: base
bodyClass: home
---
{% set home_news = collections.news | reverse %}
{% set news_feature_size = 3 %}

<div class="hero jumbotron parallax text-white text-center">
  <div class="container d-flex h-100 flex-column justify-content-center align-items-center">
    <h1 class="text-uppercase display-5 font-weight-bold">SA / S-Anon Utah Retreat 2023</h1>
    <h2 class="text-uppercase display-5 font-weight-normal">It Works When You Work It</h2>
    <h2 class="h3 font-weight-normal">October 13-14, 2023</h2>
    <p class="my-3">
    Registration now open!
      <a href="https://www.eventbrite.com/e/sa-s-anon-utah-retreat-2023-tickets-676743055697" class="btn btn-primary btn-lg">Get Tickets</a>
      
    </p>
  </div>
</div>
<div class="container-fluid bg-white shadow-sm">
  <div class="row">
    <div class="col">
      <section id="schedule" class="mt-5 mx-3 mx-md-5">
        <h3 class="mb-4">Speakers</h3>
        <h4>SA: Ned O</h4>
        <h4>S-Anon: Charity J</h4>
        <h3 class="my-4">Schedule</h3>
        <p>TBD</p>
      </section>
      <section id="volunteer" class="mt-5 mx-3 mx-md-5 mb-5">
        <h3>Volunteer</h3>
        <p>If you're interested in speaking or filling other service opportunities to help with the retreat, please email us at sasanonutahretreat2023@gmail.com.</p>
      </section>
    </div>
  </div>
</div>