---
layout: base
bodyClass: home
---
{% set home_news = collections.news | reverse %}
{% set news_feature_size = 3 %}

<div class="hero jumbotron parallax text-white text-center">
  <div class="container d-flex h-100 flex-column justify-content-center align-items-center">
    <h1 class="text-uppercase display-5 font-weight-bold">S.A./S-Anon 2020 Retreat</h1>
    <h2 class="h3 font-weight-normal">October 9–10, 2020</h2>
    <p class="my-3">
      <a href="https://www.eventbrite.com/e/sa-s-anon-utah-retreat-2020-tickets-109969684286" class="btn btn-primary">Get Tickets</a>
    </p>
  </div>
</div>
<div class="container bg-white shadow-sm">
  <div class="row">
    <div class="col">
      <section id="expect" class="mt-5 mx-3 mx-md-5">
        <h3>What To Expect</h3>
        <p>For many of us, the first time we came to a retreat it was scarier than coming to a meeting. With both SAs and SAnons there we were concerned about it being a safe place for our own stories and our own healing. Through our experience with the program we have found that the people coming to retreats are kind and considerate. Together we create a space that is very safe by following the 12 traditions that have guided and kept our organization strong and safe.</p>
        <p>You can expect to find new discoveries about your program and greater compassion for others working their own program. You will hear more stories and connect with people who are using the program to overcome similar problems. We have also found it to be very beneficial to hear from people working the other side of the program. If we are an S-Anon, we find that we learn a lot and gain a lot of compassion when we hear SA stories. If we are an SA, we find that we gain understanding and clarity when we hear S-Anon stories. Getting together to solve our common problems brings a lot of power to our program.</p>
      </section>
      <section id="schedule" class="mt-5 mx-3 mx-md-5">
        <h3>Schedule</h3>
        <p>We are so excited about all of the sessions and topics we have planned. Our theme is Restored to Sanity and we will have a variety of sessions around the theme to help you dig deeper and learn how to apply the topics into your life.</p>
        <p>Since we are still solidifying things, our schedule is tentative for now. You can return in a few weeks to see if we’ve added more content or you can sign up here to get updates. When you sign up you will get updates that relate only to this retreat. If you would like other SA or SAnon newsletters and updates, you’ll need to sign up for those on the SA or SAnon Utah pages separately.</p>
      </section>
      <section id="location" class="mt-5 mx-3 mx-md-5">
        <h3>Location</h3>
        <p>
          Salt Lake Community College Miller Campus<br>
          9750 S 300 W<br>
          Sandy, UT 84070
        </p>
      </section>
      <section id="volunteer" class="mt-5 mx-3 mx-md-5 mb-5">
        <h3>Volunteer</h3>
        <p>It takes a lot of work to organize and put on a retreat so we’ll be glad to accept help from people who want to volunteer their services. We’ll have clearer volunteer opportunities defined over the next few months but feel free to contact us about your willingness at any time. Please take a look below at what we’ve identified so far and start thinking about whether volunteering for this event is one of the right steps in working your program.</p>
        <p>If interested in volunteering for one of the below positions, please email sa.sanon.utah.retreat@gmail.com and include what position(s) you are interested in volunteering for and your availability (Friday night only, any time during the weekend, etc).</p>
        <h4>Literature Table</h4>
        <p>You would sit at the literature table, answer questions about the literature for sale, and take money for those buying literature. We would need you to make sure that the literature is sold for the correct amounts and that the money stays organized. Those that work at the literature table usually enjoy the experience as they say they enjoyed being able to talk to different people. It is a little bit of a different way to connect to others working the program that you don’t get in other ways–sharing stories, experience, strength, and hope.</>
        <h4>Registration</h4>
        <p>You would sit at the registration table, find name badges for those who have registered and check them off the list, and register those who have not pre-registered. We would need you to make sure that the right badges go to the right people and that those who have not been pre-registered get the information they need to feel welcomed and oriented to the retreat. Those that work at registration usually enjoy being the first official contact when someone arrives to the retreat. They extend the welcoming hand and help those who may otherwise feel nervous find love and safety. It is a little bit of a different way to share the program and the hope that they have found in working the program.</>
        <h4>Advertising</h4>
        <p>You would help spread the word about the retreat by sending out email updates to all attendees as requested by the committee. We would provide you with the information that needed to be sent out and you would use our Mail Chimp email account to send out the emails. You would be working behind the scenes and so the service experience would involve less one on one contact with our attendees and might be perfect for someone who is more introverted and still wants to enjoy the rewards of serving in the program. You will be working with the committee and so it will be a good opportunity to get to know better how they work and how functions like this are put together. We also will appreciate any additional ideas you could contribute and implement to spread the word even further.</>
        <h4>Leading Break-Out Sessions</h4>
        <p>You would share your experience, strength, and hope about a specific topic and facilitate a little bit of discussion and then a period of sharing for people to reflect and share on the specific session topic. We would need you to have completed through step 5 with a sponsor and feel confident in both your program work and the session topic you are leading. Those that lead break-out sessions enjoy many of the gifts of the program, especially the joy that comes from sharing their own experience strength and hope.</>
        <p>We will provide additional support and guidance for all of the volunteers to make sure they feel confident in completing their assignment. If you feel like volunteering isn’t for you at this time, know that you are contributing to our community simply by attending and sharing as your higher power moves you to do so. We appreciate all the gifts that come from volunteers and attendees alike in whatever capacity they come.</p>
      </section>
    </div>
  </div>
</div>