---
layout: base
bodyClass: home
---
{% set home_news = collections.news | reverse %}
{% set news_feature_size = 3 %}

<div class="hero jumbotron parallax text-white text-center">
  <div class="container d-flex h-100 flex-column justify-content-center align-items-center">
    <h1 class="text-uppercase display-5 font-weight-bold">SA / SAnon Utah Retreat 2022</h1>
    <h2 class="text-uppercase display-5 font-weight-normal">The Real Connection</h2>
    <h2 class="h3 font-weight-normal">October 7-8, 2022</h2>
    <p class="my-3">
      {# <a href="https://sautah-sponsorship-2022.eventbrite.com/" class="btn btn-primary btn-lg">Get Tickets</a> #}
      Registration now open!
    </p>
  </div>
</div>
<div class="container-fluid bg-white shadow-sm">
  <div class="row">
    <div class="col">
      <section id="schedule" class="mt-5 mx-3 mx-md-5">
        <h3 class="mb-4">Speakers</h3>
        <h4>SA: Terry C. from Chicago</h4>
        <h4>S-Anon: Annette H from California</h4>
        <h3 class="my-4">Schedule</h3>
        <p class="alert alert-info"><strong>*</strong> Zoom Links, IDs, and Passwords to be emailed prior to event for those registering for Zoom Option.</p>
        <h4>Friday, October 7</h4>
        <div class="table-responsive">
          <table class="table my-3">
            {# <colgroup>
              <col style="background-color:white">
              <col style="background-color:#fefae0">
              <col style="background-color:#ffc8dd">
              <col style="background-color:#94d2bd">
              <col style="background-color:#bde0fe">
              <col style="background-color:#a3b18a">
              <col style="background-color:#c8b6ff">
            </colgroup> #}
            <tbody>
              <tr>
                <th></th>
                <th>Combined Both Fellowships<br><small>(Room Listed Below) (*ZOOM)</small></th>
                <th>S-Anon Room A<br><small>(MPDC 209/213) (*ZOOM)</small></th>
                <th>S-Anon Room B<br><small>(MPDC 228) (*ZOOM)</small></th>
                <th>SA Room 1<br><small>(MPDC 220/224) (*ZOOM)</small></th>
                <th>SA Room 2<br><small>(MPDC 226) (*ZOOM)</small></th>
                <th>SA Room 3<br><small>(MPDC 105) (*ZOOM)</small></th>
              </tr>
              <tr>
                <th scope="row">5:30pm</th>
                <td>Registration opens<br><em>Showroom MFEC 117</em></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">5:30–6:15pm</th>
                <td></td>
                <td>S-Anon Early Bird Meeting</td>
                <td></td>
                <td>SA Early Bird Meeting</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">6:30–7:00pm</th>
                <td>Dinner<br><em>Showroom MFEC 117</em></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">7:15–8:15pm</th>
                <td>Friday Evening Speakers<br><em>Auditorium MFEC 101</em></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">8:30–9:15pm</th>
                <td></td>
                <td>S-Anon Meditation and Fellowship</td>
                <td></td>
                <td>SA Panel (The Real Connection)</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">9:30–10:30pm</th>
                <td></td>
                <td>S-Anon Meditation and Fellowship</td>
                <td></td>
                <td>SA Night Owl Meeting</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <h4>Saturday, October 8</h4>
        <div class="table-responsive">
          <table class="table my-3">
            {# <colgroup>
              <col style="background-color:white">
              <col style="background-color:#fefae0">
              <col style="background-color:#ffc8dd">
              <col style="background-color:#94d2bd">
              <col style="background-color:#bde0fe">
              <col style="background-color:#a3b18a">
              <col style="background-color:#c8b6ff">
            </colgroup> #}
            <tbody>
              <tr>
                <th></th>
                <th>Combined Both Fellowships<br><small>(Room Listed Below) (*ZOOM)</small></th>
                <th>S-Anon Room A<br><small>(MPDC 209/213) (*ZOOM)</small></th>
                <th>S-Anon Room B<br><small>(MPDC 228) (*ZOOM)</small></th>
                <th>SA Room 1<br><small>(MPDC 220/224) (*ZOOM)</small></th>
                <th>SA Room 2<br><small>(MPDC 226) (*ZOOM)</small></th>
                <th>SA Room 3<br><small>(MPDC 105) (*ZOOM)</small></th>
              </tr>
              <tr>
                <th scope="row">8:00am</th>
                <td>Registration opens<br><em>MPDC Top of Stairs (by breakouts)</em></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">9:00–9:45am</th>
                <td></td>
                <td>Do I Stay or Do I Go? How Do I Know? Steps 2 & 3</td>
                <td>Step 4 - The Unvarnished Me</td>
                <td>Maintaining long-term sobriety</td>
                <td>The Real Connection</td>
                <td>Steps 1-3</td>
              </tr>
              <tr>
                <th scope="row">10:00–10:45am</th>
                <td></td>
                <td>Sobriety in S-Anon is…?</td>
                <td>Slogans - Shorthand to Recovery</td>
                <td>How to get connected to my Higher Power</td>
                <td>How to stop relapsing?</td>
                <td>Steps 4-6</td>
              </tr>
              <tr>
                <th scope="row">11:00–11:45am</th>
                <td></td>
                <td>Essentials of Recovery - H.O.W.</td>
                <td>Step 11 - Meditation & Prayer</td>
                <td>Disclosure - when and how much</td>
                <td>SA Prayers</td>
                <td>Steps 7-9</td>
              </tr>
              <tr>
                <th scope="row">12:00–12:30pm</th>
                <td>Lunch<br><em>Large Classroom MFEC 203</em></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">12:45–1:45pm</th>
                <td>Saturday Speakers<br><em>Auditorium MFEC 101</em></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">2:00–2:45pm</th>
                <td>Joint SA/S-Anon Couples Recovery - Building Trust Together<br><em>Large Classroom MFEC 203</em></td>
                <td>Gratitude - Looking for the Silver Lining</td>
                <td></td>
                <td>How to sponsor and how to be a sponsee?</td>
                <td>Fellowship - how it works</td>
                <td>Steps 10-12</td>
              </tr>
              <tr>
                <th scope="row">3:00–3:45pm</th>
                <td>Joint SA/S-Anon “Hello from the other side”- getting acquainted with the opposite fellowship<br><em>Large Classroom MFEC 203</em></td>
                <td>Boundaries</td>
                <td></td>
                <td>Actions of love</td>
                <td>How do I Surrender?</td>
                <td>Traditions</td>
              </tr>
              <tr>
                <th scope="row">4:00–5:00pm</th>
                <td>Closing Session - Gratitude<br><em>Large Classroom MFEC 203</em></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section id="location" class="mt-5 mx-3 mx-md-5">
        <h3>Location</h3>
        <p>
          <a href="https://goo.gl/maps/Mq8s4598UviLPBkU9">Salt Lake Community College Miller Campus Auditorium</a><br>
          9750 S 300 W<br>
          Sandy, UT 84070
        </p>
      </section>
      <section id="volunteer" class="mt-5 mx-3 mx-md-5 mb-5">
        <h3>Volunteer</h3>
        <p>If you're interested in speaking or filling other service opportunities to help with the retreat, please email us at sasanonutahretreat2022@gmail.com.</p>
      </section>
    </div>
  </div>
</div>